@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: "Neue Kaine";
  src: url("../assets/fonts/neue-kaine-variable.ttf") format("truetype");
}

@font-face {
  font-family: "icomoon";
  src: url("../assets/icomoon/icomoon.eot");
  src: url("../assets/icomoon/icomoon.eot") format("embedded-opentype"),
    url("../assets/icomoon/icomoon.ttf") format("truetype"),
    url("../assets/icomoon/icomoon.woff") format("woff"),
    url("../assets/icomoon/icomoon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

:root {
  --melon-100: hsl(7, 64%, 10%);
  --melon-200: hsl(7, 64%, 20%);
  --melon-300: hsl(7, 64%, 30%);
  --melon-400: hsl(7, 64%, 40%);
  --melon-500: hsl(7, 64%, 50%);
  --melon-600: hsl(7, 64%, 60%);
  --melon-700: hsl(7, 64%, 70%);
  --melon-800: hsl(7, 64%, 80%);
  --melon-900: hsl(7, 64%, 87%);
  --melon-940: hsl(7, 64%, 94%);

  --verdigris-300: hsl(176, 31%, 30%);
  --verdigris-400: hsl(176, 31%, 40%);
  --verdigris-500: hsl(176, 31%, 50%);
  --verdigris-600: hsl(176, 31%, 60%);
  --verdigris-700: hsl(176, 31%, 70%);
  --verdigris-800: hsl(176, 31%, 80%);
  --verdigris-900: hsl(176, 31%, 90%);

  --olive-200: hsl(150, 9%, 18%);
  --olive-230: hsl(150, 9%, 23%);
  --olive-300: hsl(150, 9%, 30%);
  --olive-500: hsl(150, 9%, 50%);
  --olive-1000: hsl(150, 9%, 100%);

  --beige-100: hsl(33, 35%, 10%);
  --beige-200: hsl(33, 35%, 20%);
  --beige-300: hsl(33, 35%, 30%);
  --beige-400: hsl(33, 35%, 40%);
  --beige-500: hsl(33, 35%, 50%);
  --beige-600: hsl(33, 35%, 60%);
  --beige-700: hsl(33, 35%, 70%);
  --beige-800: hsl(33, 35%, 80%);
  --beige-850: hsl(33, 35%, 85%);
  --beige-900: hsl(33, 35%, 90%);
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-doubleup:before {
  content: "\e913";
}
.icon-all:before {
  content: "\e900";
}
.icon-arrowafter:before {
  content: "\e901";
}
.icon-arrowbefore:before {
  content: "\e902";
}
.icon-cake:before {
  content: "\e903";
}
.icon-car:before {
  content: "\e904";
}
.icon-copy:before {
  content: "\e905";
}
.icon-design:before {
  content: "\e906";
}
.icon-dev:before {
  content: "\e907";
}
.icon-download:before {
  content: "\e908";
}
.icon-github:before {
  content: "\e909";
  font-size: 28px;
}
.icon-layout:before {
  content: "\e90a";
}
.icon-linkedin .path1:before {
  content: "\e90b";
  color: rgb(0, 118, 178);
  font-size: 28px;
}
.icon-linkedin .path2:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
  font-size: 28px;
}
.icon-location:before {
  content: "\e90d";
}
.icon-mail:before {
  content: "\e90e";
}
.icon-marketing:before {
  content: "\e90f";
}
.icon-squareout:before {
  content: "\e910";
}
.icon-tel:before {
  content: "\e911";
}
.icon-tv:before {
  content: "\e912";
}
