@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: "Neue Kaine";
  src: url("../assets/fonts/neue-kaine-variable.ttf") format("truetype");
}

:root {
  --melon-500: hsl(7, 64%, 50%);
  --melon-900: hsl(7, 64%, 87%);

  --mint-300: hsl(176, 31%, 30%);
  --mint-500: hsl(176, 31%, 50%);
  --mint-800: hsl(176, 31%, 80%);

  --olive-200: hsl(150, 9%, 18%);
  --olive-500: hsl(150, 9%, 50%);
  --olive-1000: hsl(150, 9%, 100%);
}
