@import "./base.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

a,
.green {
  text-decoration: none;
  /* color: #faf4f4; */
  /* color: hsl(150, 8, 20); */
  transition: 0.4s;
  padding: 3px;
  font-weight: 500;
}

body {
  min-height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
  /* color: #f5f0ea; */
  background: #faf7f4;
  line-height: 1.6;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 1280px;
  display: block;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: 760px) {
    max-width: 300px;
  }

  @media (min-width: 760px) and (max-width: 980px) {
    max-width: 660px;
  }

  @media (min-width: 980px) and (max-width: 1440px) {
    max-width: 990px;
  }
}

p,
li,
ul,
h1,
h2,
h3 {
  margin: 0;
}

a {
  text-decoration: none;
}

@media (hover: hover) {
  a:hover {
    background-color: hsl(153, 8%, 23%);
    color: hsl(176, 31%, 70%);
  }
}
